# output from browsers
*.log

# .env
.env

# ignore testfiles 
newEmails.txt
mixEmails.txt
oldEmails.txt
mostEmails.txt
extreme.txt

# nano and vim text editor temp files
*~
*.swp
*.swo

# bash scripts
*.sh

# compiled python
*.pyc
