# output from browsers
*.log

# .env
.env

# text testfiles 
newEmails.txt
mixEmails.txt
oldEmails.txt
mostEmails.txt
extreme.txt

__pycache__

# nano and vim text editor temp files
*~
*.swp
*.swo

# bash scripts
*.sh

# compiled python
*.pyc
