# ignore output from browsers
*.log

# ignore .env
.env

# ignore testfiles 
newEmails.txt
mixEmails.txt
oldEmails.txt
mostEmails.txt
extreme.txt

# ignore nano and vim text editor temp files
*~
*.swp
*.swo

#ignore bash scripts
*.sh
